VITE_SUPABASE_URL=https://kyjjsgtetypfotjxxpex.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_H4n9i-06KJoEguur1XYwYw_UqC9FgkU
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
APP_URL=
GEMINI_API_KEY=
